body {
    background-color: #dfe5c5;
}

.Novecentosanswide-Bold { 
	font-family: Novecentosanswide-Bold;
	font-weight: normal;
	font-style: normal;
}

.Novecentosanswide-Light { 
	font-family: Novecentosanswide-Light;
	font-weight: normal;
	font-style: normal;
}

h1 {
    font-family: Novecentosanswide-Light;
    letter-spacing: 30;
    font-size: 72;
    color: #32332c;
}

#inicio {
    transition: 1s;
}

#inicio:hover {
    transform: rotate(180deg);
    transition: 1s;
}